# Python
venv/
.venv/
__pycache__/
*.py[cod]
*.pyo
.ipynb_checkpoints/

# OS/IDE
.DS_Store
*.swp
.idea/
.vscode/

# Secrets
.env

# Project-specific large dirs/files
llama3_cleaned/
deploiement-project.zip