django
pymongo
dotenv
pandas
xgboost
scikit-learn
openai
langchain
pymupdf
faiss-cpu==1.8.0.post1
pymongo
dnspython
python-dotenv
opencv-python
face-recognition
bcrypt
tensorflow
huggingface_hub==0.23.0
langchain_community
prophet
transformers
torch
transformers==4.41.2
plotly